body {
    margin: 0px;
    margin-top: 54px;
}

.content {
        /* width: 80%; */
    margin: auto;
    font-family: sans-serif;
}
.title {
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    color: #635F5D;
}

.svg-container {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
}

.radar-container {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bar-chart-container {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pie-chart-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.single-genre-container {
    /* background-color: gray; */
    
}

.violin-plot-container {

}

.single-genre-info {
    font-size: 1.2rem;
    margin-right: 12px;
    display: block;
}

.dashboard-card {
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}

/*   
circle {
    opacity: 0.8;
}
  
text {
    font-family: 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
} */

.description {
    font-family: 'Arial Narrow Bold', sans-serif;
}

.description b {
    color: gray;
}

.description .title {
    font-size: 1.2rem;
    color: gray;
}

div.legend {
    overflow-x: hidden;
    overflow-y: auto;
}
/*   
.tick text {
    font-size: 1rem;
    fill: #635F5D;
}
  
.tick line {
    stroke: #C0C0BB;
}
  
.axis-label {
    font-size: 1rem;
    fill: #8E8883;
}

.label {
    text-align: center;
    text-transform: uppercase;
} */

@media (max-width: 1280px) {
    #menus {
        width: 80%;
    }
    .content {
        width: 80%;
    }
}

@media (min-width: 1280px) {
    #menus {
        width: 1024px;
    }
    .content {
        width: 1024px;
    }
}

@media (max-width: 700px) {
    text, .axis-label {
        font-size: 0.8rem;
    }
}

.tick text {
    z-index: 100;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}
